.img-text-banner {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'left right';
  .side-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
    h2 {
      font-family: Tangerine;
      font-size: 3rem;
      color: #fff;
      margin-bottom: 2rem;
      position: relative;
      &::after {
        content: '';
        width: 20px;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: -5%;
        left: 50%;
      }
    }
    p {
      max-width: 500px;
      text-align: center;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 2rem;
    }
  }
  .side-b {
    background-size: cover;
    background-position: bottom;
    grid-area: right;
  }
  &.switch-side {
    grid-template-columns: 2fr 1fr;
    .side-a {
      grid-area: right;
    } 
    .side-b {
      grid-area: left;
    }
  }
}