.landing {
  height: calc(100vh - 84px);
  min-height: 500px;
  max-height: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.small {
    height: 40vh;
    min-height: 265px;
  }
}