footer {
  background: #343434;
  padding: .5rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    .side-a {
      display: flex;
      justify-content: center;
      svg {
        height: 30px;
        width: 30px;
        color: #fff;
      }
    }
    .side-b {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #fff;
        text-transform: uppercase;
        margin-right: 1rem;
      }
    }
  }
}