html {
  background: lightgrey;
}

.App {
  max-width: 3250px;
  margin: 0 auto;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}