html {
  background: #fefefe;
}

.App {
  max-width: 3250px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.container {
  width: 90%;
  height: 100%;
  // max-width: 1200px;
  margin: 0 auto;
}


ul {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}